.play{
    font-size: 50px;
    
    display: flex;
    position: absolute;
   justify-content: space-around;
    width: 60%;
top: 0%;
left: 22%;

    /* text-align: center */
    /* justify-content: space-between; */
    /* text-align: center; */
    /* width: 50rem; */
    /* height: 100px; */
}

.play h4 {
margin-left: 20px;
color: brown;

}
.play button {
  width: 40px;
}

.letters {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;

}
.letter {
  font-family:cursive;
  width: 22%;
  margin: 3px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.151);
  color: white;
  box-shadow: 0px 0px 54px 4px rgba(0,0,0,0.59);  
  border-radius: 5px ;

}
.guess{
  font-size: 3rem;
 text-align: right;
}

.imagegg{

  width: 20rem;
  height: 20rem;
  border: none;
}
.letter:hover{

 background-color: cornflowerblue;
transition: 0.5s;
 font-size: 20px;
  
}
