.how-play {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: 100vh;
  background-image: url("../../image/pepar.png");
  background-repeat: no-repeat;
}

h2 {
  color: rgb(88, 87, 35);
  font-size: 39px;
}

h5 {
  color: chartreuse;
  font-size: 30px;
}
